-e git+https://github.com/alercebroker/mhps.git#egg=mhps
-e git+https://github.com/alercebroker/P4J.git#egg=P4J
-e git+https://github.com/alercebroker/turbo-fats.git#egg=turbofats
-e git+https://github.com/alercebroker/lc_classifier#egg=lc_classifier
alerce
fastapi == 0.92.0
pytest-mock
httpx
